{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meter/css/index.css' %}">
{% endblock %}

{% block title %}
    {{ meter.name }} details
{% endblock %}

{% block content %}
    <p class="h1 text-start m-5">{{ meter.name }} details</p>

    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        <div class="card-body text-dark row">
            <h5 class="col-6" style="font-size: 1.5em">Resource: <strong>{{ meter.resource_type }}</strong></h5>
            <h5 class="col-6" style="font-size: 1.5em">Unit: <strong>{{ meter.unit }}</strong></h5>
            <h5 class="col-6" style="font-size: 1.5em">Last reading:
                {% if not meter.meter_csv_file %}
                    <strong>Not Given</strong>
                {% else %}
                    <strong>{{ last_reading }}</strong>
                {% endif %}
            </h5>
            <h5 class="col-6" style="font-size: 1.5em">Last reading date:
                {% if not meter.meter_csv_file %}
                <strong>Not Given</strong>
                {% else %}
                <strong>{% if last_reading_date.day < 10 %}0{% endif %}{{ last_reading_date.day }}/{% if last_reading_date.month < 10 %}0{% endif %}{{last_reading_date.month}}/{{last_reading_date.year }}</strong>
                    {% endif %}
            </h5>
        </div>
    </div>

    <p class="h2 text-start m-5">Upload Readings</p>

    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        <form action="{% url 'meter_details' pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body text-dark row m-2">
                <div class="col-6">
                    <input type="file" class=" form-control" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01"
                           aria-label="Upload" name="meter_file" required>
                </div>
                <div class="col-3"></div>
                <button type="submit" class="btn btn-success col-1" style="margin-right: 2em">Upload</button>
                <button type="reset" class="btn btn-danger col-1">Reset</button>
            </div>
        </form>
    </div>

    <p class="h2 text-start m-5">Meter Consumptions</p>
    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        {% if not meter.meter_csv_file %}
            <h3 class="m-5 text-center" style="font-size: 20em;">Not Given</h3>
        {% else %}
                <div id="chart_container" class="p-4"></div>
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
Highcharts.chart('chart_container', {

    title: {
        text: ''
    },

    yAxis: {
        title: {
            text: '{{ meter.unit }}'
        }
    },

    xAxis: {
        categories: [ {% for value in x_axis %}'{{ value }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },
    legend: {
        enabled: false
    },

    series: [{
        name: '{{ meter.resource_type }} consumption',
        data: {{ y_axis }}
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            }
        }]
    }

});
    </script>
{% endblock %}