{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meter/css/index.css' %}">
{% endblock %}

{% block title %}
    {{ meter.name }} details
{% endblock %}

{% block content %}
    <p class="h1 text-start m-5"><a href="{% url 'index' %}">Meters</a> / {{ meter.name }} details</p>

    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        <div class="card-body text-dark row">
            <h5 class="col-6" style="font-size: 1.5em">Resource: <strong>{{ meter.resource_type }}</strong></h5>
            <h5 class="col-6" style="font-size: 1.5em">Unit: <strong>{{ meter.unit }}</strong></h5>
            <h5 class="col-6" style="font-size: 1.5em">Last reading:
                {% if meter.meter_csv_file %}
                    <strong>{{ last_reading }}</strong>
                {% else %}
                    <strong>Not Given</strong>
                {% endif %}
            </h5>
            <h5 class="col-6" style="font-size: 1.5em">Last reading date:
                {% if meter.meter_csv_file %}
                    <strong>{% if last_reading_date.day < 10 %}0{% endif %}{{ last_reading_date.day }}/{% if last_reading_date.month < 10 %}0{% endif %}{{ last_reading_date.month }}/{{ last_reading_date.year }}</strong>
                {% else %}
                    <strong>Not Given</strong>
                {% endif %}
            </h5>
        </div>
    </div>

    <p class="h2 text-start m-5">Upload Readings</p>

    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        <div class="card-body text-dark m-2 row">
            <form action="{% url 'meter_details' pk %}" method="post" enctype="multipart/form-data" class="col-10 row">
                {% csrf_token %}
                <div class="col-6">
                    {{ file_upload_form.file }}
                </div>

                <div class="col-4"></div>

                <button type="submit" class="btn btn-success col-2">Upload</button>
            </form>

            <form action="{% url 'meter_details' pk %}" method="post" enctype="multipart/form-data" class="col-2 row">
                {% csrf_token %}
                <div class="col-1"></div>

                <button type="submit" class="btn btn-danger col-10" name="reset_meter" value="reset">Reset</button>

                <div class="col-1"></div>
            </form>
        </div>
    </div>

    <p class="h2 text-start m-5">Meter Consumptions</p>

    <div class="card border-secondary mb-3 m-5" style="max-width: 100%;">
        {% if meter.meter_csv_file %}
            <div id="chart_container" class="p-4"></div>
        {% else %}
            <h3 class="m-5 text-center" style="font-size: 20em;">Not Given</h3>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        Highcharts.chart('chart_container', {

            title: {
                text: ''
            },

            yAxis: {
                title: {
                    text: '{{ meter.unit }}'
                }
            },

            xAxis: {
                categories: [{% for value in x_axis %}'{% if value.day < 10 %}0{% endif %}{{ value.day }}/{% if value.month < 10 %}0{% endif %}{{ value.month }}/{{ value.year }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                }
            },
            legend: {
                enabled: false
            },

            series: [{
                name: '{{ meter.resource_type }} consumption',
                data: {{ y_axis }}
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    }
                }]
            }

        });
    </script>
{% endblock %}