<div class="meters-list">
    {% for meter in meters %}
    <div class="card" style="width: 100%; margin-bottom: .5em;">
      <form class="card-body row" action="{% url 'index' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <a href="{% url 'meter_details' meter.pk %}" style="font-size: 1.5em; margin-left: 2.1em;" class="col-3">{{ meter.name }}</a>
        <a style="font-size: 1.5em; color: black; text-decoration: None;" class="col-3">Resource: {{ meter.resource_type }}</a>
        <a style="font-size: 1.5em; color: black; text-decoration: None;" class="col-3">Unit: {{ meter.unit }}</a>
        <button type="submit" class="btn btn-outline-secondary col-2" name="delete_meter" value="{{ meter.pk }}">Delete</button>
      </form>
    </div>
    {% endfor %}
</div>