{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meter/css/index.css' %}">
{% endblock %}

{% block title %}
    Create Meter
{% endblock %}

{% block content %}
    <p class="h1 text-start m-5">Create Meter</p>

    <form action="{% url "index" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group col-9 m-5" style="width: 50%">
            <span class="input-group-text">Meter Name</span>
            {{ new_meter_form.name }}
        </div>

        <div class="input-group mb-3 m-5" style="width: 50%">
            <span class="input-group-text">Resource</span>
            {{ new_meter_form.resource }}
        </div>

        <div class="input-group col-9 m-5" style="width: 50%">
            <span class="input-group-text">Unit</span>
            {{ new_meter_form.unit }}
        </div>

        <a href="{% url "index" %}" class="btn btn-secondary float-lg-start m-5">Cancel</a>

        <button class="btn btn-success float-lg-start m-5" id="meter_submit" type="submit" name="create_meter_button">
            Create Meter
        </button>
    </form>
{% endblock %}