{% load set_form_initial_values %}
<button type="button" class="btn btn-warning d-flex align-items-center me-2" data-bs-toggle="modal"
        data-bs-target="#editTariff{{ tariff.id }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil me-1"
         viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
    </svg>
    Edit
</button>

<div class="modal fade" id="editTariff{{ tariff.id }}" tabindex="-1" aria-labelledby="editTariffLabel{{ tariff.id }}"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editTariffLabel{{ tariff.id }}">Edit tariff</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url "tariff_details" meter_id=meter.id tariff_id=tariff.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="_method" value="PATCH">
                <div class="modal-body">
                    {% for field in create_tariff_form %}
                        <div class="input-group {% if not forloop.last %}mb-3{% endif %}">
                            <span class="input-group-text w-25">{{ field.label }}</span>
                            {{ field|set_form_initial_values:tariff }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>